.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
}
  
.title {
    color: #333;
    text-align: center;
}
  
.logout-container {
    text-align: right; 
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center; 
    border: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

p {
    text-align: center;
    font-style: italic;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="datetime-local"] {
    padding: 6px;
}

div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px; 
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
  }
  
.table-container,
.form-container {
    flex: 1; 
}

button:hover {
    background-color: #0056b3; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.form-container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;  
    margin: 0 auto;  
    box-sizing: border-box; 
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 15px; 
    margin-bottom: 20px;
}

.form-field {
    flex: 1;
    min-width: 250px;
    box-sizing: border-box; 
}

label {
    display: block;
    margin-bottom: 5px;
    margin-right: 5px;
    font-weight: bold;
}

input, select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.form-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.form-buttons button:hover {
    background-color: #0056b3;
}
